# Begin password protection #
AuthName "My Protected Area"
Require valid-user
AuthUserFile "/home/users/web/b1934/ipw.unifying/public_html/natdem/wills/.htpasswd"
AuthType basic
# End password protection #

